* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.6rem;
  /* background-color: var(--primary-bg); */
}

:root {
  --primary-bg: #9ec91e;
  --secondary-bg: #f2c244;
  --light-white-bg:
    ##ffffff: --primary-font-family: "Press Start 2p", system-ui;
}
